@model Hospital.Data.tb_cita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_doctor.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_doctor.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_paciente.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_paciente.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_tipo_cita.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_tipo_cita.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
